.btn-grid {
    /* Keeps Buttons in grid format */
        display: grid;
        /* Keeps grid in columns of 2 */
        grid-template-columns: repeat(2, auto);
        /* Adds spacing between buttons */
        gap: 10px;
    }
    
/* Button Styling */
.btn {
    background-color: hsl(181, 84%, 44%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    font-size: 20px;
    width: 200px;
    height: 50px;
}

.btn:hover {
    border-color: black;
}

.btn:active {
    box-shadow: 0 5px rgb(43, 43, 36);
    transform: translateY(2px);
}

#button5 {
    margin-top: 10px;
    background-color: yellow;
    color: black;
}

.btn-cntr {
    display: flex;
    justify-content: center;
}