/* Display Box */
.container {
    background-color: #333;
    opacity: 90%;
    width: 800px;
    /* max-width: 80%; */
    /* Moves Content away from edges of Display Box */
    padding: 10px;
    /* Rounds edges of Display Box */
    border-radius: 5px;
    /* Shadow Effect */
    box-shadow: 0 0 10px 2px;
  }

  .bottom-content-wrapper {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Use column layout */
    align-items: center;
    margin-left: 5px;
  }

  .user-prompt-wrapper {
    text-align: center;
    margin-top: 30px;
}