/* Log Box Display */
.logBox {
    height: 250px;
    width: 45%;
    border: 3px solid #ccc;
    /* Places text at the bottom of the Log Box Display */
    display: flex;
    flex-direction: column-reverse;
    /* Shadow Effects */
    box-shadow: 0 0 10px 2px;
    /* Makes it so text does not go out of bounds of Log Box Display */
    overflow: auto;
    /* Positions log Box Display to the left of the Button Display */
    /* float: left; */
    /* Background Color */
    background-color: #333;
    margin-top: 30px;
}