/* CONTAINER STYLES */

.controls-jawn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 26.5%;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px;
    background-color: #333;
    opacity: 90%;
    text-align: center;
    font-size: 25px;
    display: flex;
    /* flex-direction: column; */
}

.controls-btn{
    background-color: hsl(181, 84%, 44%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    color: black;
    outline: none;
    font-size: 15px;
    height: 40px;
    width: 60px;
  }

  /* LEFT STYLES */

.controls-left {
    /* flex: 1; */
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-left: 15px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  .controls-left button:nth-child(1) {
    background-color: rgb(76, 194, 194);
    width: 100%;
  }
  .controls-left button:nth-child(2) {
    grid-row: 2;
    background-color: rgb(76, 194, 194);
    width: 100%;
  }
  
  .controls-left button:nth-child(3) {
    grid-row: 3;
    background-color: rgb(76, 194, 194);
    width: 100%;
  }
  
  /* RIGHT STYLES */
  
  .controls-right {
    /* flex: 1; */
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  .controls-right button:nth-child(1) {
    grid-column: 2;
    background-color: rgb(183, 52, 166);
  }
  .controls-right button:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(183, 52, 166);
  }
  
  .controls-right button:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(183, 52, 166);
  }
  
  .controls-right button:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
    background-color: rgb(183, 52, 166);
  }
  
  .controls-right button:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
    background-color: rgb(183, 52, 166);
  }
  
  .controls-right button:nth-child(6) {
    grid-column: 6;
    grid-row: 2;
    background-color: rgb(183, 52, 166);
  }