.new-password-input{
  display: block;
  width: 100%; 
  padding-left: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  height: 35px;
  padding: 5px 10px;
  font-size: 16px;
  text-align: right;
}
.new-password-input:focus{
  box-shadow: 0 0 10px 5px;
  /* border: 0 5px var(--orange-jawn); */
  color: var(--orange-jawn);
}

.new-password-msg{
  color: red;
  text-align: center;
}
