.new-password-jawn{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
}
.new-password-input{
  width: 100%;
  border-radius: 5px;
  text-align: right;
  font-size: 16px;
  padding-right: 5px;
}
.delete-account-jawn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.delete-account-txt{
  margin-top: 10px;
  text-align: center;
  color: red;
  font-size: 20px;
}
.delete-account-btn{
  font-weight: bold;
  cursor: pointer;
  color: red;
  cursor: pointer;
  width: 33%;
  margin-top: 10px;
  background: transparent;
  border: solid;
  border-color: var(--mid-light-jawn);
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
}
.new-password-msg{
  color: red;
  text-align: center;
}
.account-settings-container-jawn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.new-password-input {
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  text-align: right;
}

.new-password-submit-btn {
  cursor: pointer;
  width: 33%;
  color: var(--light-jawn);
  background: var(--mid-dark-jawn);
  margin-top: 10px;
  border: solid;
  border-color: var(--mid-light-jawn);
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
}

.parent-jawn{
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.child-jawn{
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}