.battle-container-jawn{
  margin: 5px;
}

.role-icon {
  float: left;
  display: flex;
  width: 45px;
}

.logBox {
  margin-top: 10px;
  height: 200px;
  border: 3px solid #ccc;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 10px 2px;
  overflow: auto;
  background-color: var(--dark-jawn);
  color: gold;
  text-align: right;
}

.dialog{
  color: var(--light-jawn);
  font-size: 20px;
}

.healthBar {
  background-color:#00788c;
  border-radius: 20px;
  margin: 5px;
  width: 90%;
  height: 12px;
}

.healthBar::-webkit-progress-bar {
  accent-color: rgb(161, 2, 2);
  border: 0;
  border-radius: 20px;
}

.healthBar::-webkit-progress-value {
  background-color: rgb(161, 2, 2);
  border: 0;
  border-radius: 20px;
}
 
.healthBar::-moz-progress-bar {
  background-color: rgb(161, 2, 2);
  border: 0;
  border-radius: 20px;
}

.enemy-display{
  display: flex;
  width: 100%;
  height: 100%;
}

.enemy-display-left{
  width: 10%;
}

.enemy-display-right{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.enemy-display-left-top-half{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 5px;
  color: gold;
}

.enemy-display-left-bottom-half{
  height: 50%;
  margin-left: 10px;
}

.enemy-level{
  margin-right: 10px;
  padding-left: 10px;
  color: var(--orange-jawn);
}

.resource-icon{
  height: 20px;
  width: 30px;
  margin-left: 5px;
}

.enemy-display-right-top-half-name{
  color: gold;
}

.loot-jawn{
  align-items: center;
  text-align: center;
}