.enemy-name{
    font-size: 40px;
    color: yellow;
  }
  
  .enemy-name-level{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    color: yellow;
    float: left;
    padding-right: 5px;
  }
  
  .enemy-level{
    /* padding-top: 7px; */
    padding-left: 10px;
    color: rgb(203, 5, 157);
    /* font-size: 20px; */
  }