.battle{
    overflow-y: scroll;
    padding-left: 5px;
}

.battle-role{
    text-align: center;
    font-size: 20px;
    color: gold;
}
.play-how-to-active-scroll{
    /* text-align: center; */
    font-size: 20px;
    color: gold;    
}
.battle-move{
    color: white;
    text-align: center;
}
.battle-howto{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.play-howto-jawn{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5%;
    padding-bottom: 1%;

}
.play-howto{
    font-size: 17px;
}
.shop-howto-jawn{
    margin-top: 15%;
}
.bag-howto-jawn{
    margin-top: 15%;
}
.arena-howto-jawn{
    margin-top: 15%;
}