.leader-board-hero-name{
    font-weight: bold;
    text-align: center;
}

.leader-board-hero-level{
    color: var(--mid-light-jawn);
    font-size: 5vw;
    text-align: right;
    margin-left: 10px;
    margin-top: 3%;
}

.leader-board-hero-name-level{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.leader-board-hero-name{
    font-size: 8vw;
    color: gold;
}