.leader-board-jawn{
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px;
    background-color: #333;
    opacity: 90%;
}

.value-jawn{
    text-align: center;
}
.leader-board-hero-name{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: yellow;
}
.leader-board-hero-level{
    color: rgb(42, 167, 179);
    font-size: 17.5px;
    text-align: right;
    margin-left: 10px;
    margin-top: 5%;
  }
.leader-board-hero-name-level{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.leader-board-hero-name{
    font-size: 30px;
    color: yellow;
  }