.leader-board-jawn{
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px;
    background-color: var(--dark-jawn);
    opacity: 90%;
}

.value-jawn{
    text-align: center;
}
.leader-board-hero-name{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: gold;
    margin-top: 2px;
}
.number-symbol{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: gold;
    padding-right: 5px;
    margin-top: 5px;
}
.leader-board-hero-level{
    color: var(--mid-light-jawn);
    font-size: 17.5px;
    text-align: right;
    margin-left: 10px;
    margin-top: 5%;
  }
.leader-board-hero-name-level{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.leader-board-hero-name{
    font-size: 30px;
    color: gold;
  }

  .leaderboard-howto{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }