/* CONTAINER STYLINGS */

.container-jawn-hero {
    background-color: #333;
    opacity: 90%;
    /* Rounds edges of Display Box */
    border-radius: 5px;
    /* Shadow Effect */
    box-shadow: 0 0 10px 2px;
    padding-top: .50em;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    width: 420px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    max-height: 540px;
    overflow-y: auto;
  }

.title-jawn-hero {
padding-top: 15px;
color: hsl(123, 68%, 54%);
font-size: 50px;
}

.row-jawn{
    padding-left: 30px;
    text-align: left;
    color: white;
    font-size:20px;
}
.data-jawn {
    float: right;
    color: white;
    padding-right: 30px;
    text-align: right;
    font-size:20px;
}

.my-heroes-table {
    width: 100%;
}

#rest-btn, #fight-btn, #inventory-btn, #store-btn, #submit-btn {
  background-color: transparent;
  border-color: gray;
  color: hsl(123, 68%, 54%);
  border-radius: 0;
  width:110px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:20px;
}

#delete-btn{
  background-color: transparent;
  border-color: gray;
  color: red;
  border-radius: 0;
  width:110px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:20px;
}

.hero-name{
  font-size: 30px;
  color: yellow;
}

@media (max-width: 768px) {

  }
  
@media (max-width: 576px) {
    .container-jawn-hero {
        background-color: #333;
        opacity: 90%;
        /* Rounds edges of Display Box */
        border-radius: 5px;
        /* Shadow Effect */
        box-shadow: 0 0 10px 2px;
        padding-top: .50em;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        max-height: 540px;
        overflow-y: auto;

      }

}