/* CONTAINER STYLINGS */

.container-jawn-hero {
    background-color: #333;
    opacity: 90%;
    /* Rounds edges of Display Box */
    border-radius: 5px;
    /* Shadow Effect */
    box-shadow: 0 0 10px 2px;
    padding-top: .50em;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    width: 420px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    max-height: 540px;
    overflow-y: auto;
  }

.title-jawn-hero {
  flex: 1;
padding-top: 15px;
color: hsl(123, 68%, 54%);
font-size: 50px;
text-align: center;
}

.row-jawn{
    padding-left: 30px;
    text-align: left;
    color: white;
    font-size:20px;
}
.data-jawn {
    float: right;
    color: white;
    padding-right: 30px;
    text-align: right;
    font-size:20px;
}

.my-heroes-table {
    width: 100%;
}

#rest-btn, #fight-btn, #inventory-btn, #store-btn, #submit-btn {
  background-color: transparent;
  border-color: gray;
  color: hsl(123, 68%, 54%);
  border-radius: 0;
  width:110px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:20px;
}

#delete-btn{
  background-color: transparent;
  border-color: gray;
  color: red;
  border-radius: 0;
  width:110px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:20px;
}

.hero-name{
  font-size: 30px;
  color: yellow;
  margin-top:5px;
}

.hero-name-level{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.hero-level{
  color: rgb(42, 167, 179);
  font-size: 17.5px;
  text-align: right;
  margin-left: 10px;
  margin-top: 17.5px;
}

@media (max-width: 768px) {

  }
  
@media (max-width: 576px) {
    .container-jawn-hero {
        background-color: #333;
        opacity: 90%;
        /* Rounds edges of Display Box */
        border-radius: 5px;
        /* Shadow Effect */
        box-shadow: 0 0 10px 2px;
        padding-top: .50em;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        max-height: 540px;
        overflow-y: auto;

      }

}

#prev-btn{
  flex: 0 0 auto;
  width: 100px;
  color: rgb(15, 175, 117);
}

#next-btn{
  flex: 0 0 auto;
  width: 100px;
  color: rgb(15, 175, 117);
}

.carousel-jawn{
  display: flex;
  justify-content: space-between;
}

.experience-bar {
  background-color: rgb(61, 163, 191);
  border-radius: 20px;
  margin: 5px;
  width: 90%;
  height: 100%;
  border: 0;
}

.experience-bar::-webkit-progress-value {
  background-color: rgb(211, 113, 231); 
  border-radius: 20px;
}
.experience-bar::-webkit-progress-bar {
  background-color: rgb(61, 163, 191); 
  border-radius: 20px;
}

.experience-bar::-moz-progress-bar {
  background-color: rgb(211, 113, 231); 
  border-radius: 20px;
}

.experience-bar-container {
  position: relative;
  height: 25px;
  border-radius: 20px;
  margin-left: 20px;
}

.experience-fraction {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
}

.table-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 10px; */
}

.stats-table {
  width: 80%;
  border-collapse: collapse;
  height: 100%;
}

.stats-table-data {
  border: 1px solid grey;
  padding: 10px;
  text-align: center;
  height: 100%;
}
.experience-tag{
  text-align: center;
  margin-top: 5px;
}