.row-jawn{
    padding-left: 30px;
    text-align: left;
    color: var(--light-jawn);
    font-size:6vw;
}

.data-jawn {
    float: right;
    color: var(--light-jawn);
    padding-right: 30px;
    text-align: right;
    font-size:6vw;
}

.my-heroes-table {
    width: 100%;
}

.hero-name{
  font-size: 8vw;
  color: gold;
  padding-top: 3.5%;
}

.hero-name-level{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.hero-level{
  color: var(--mid-light-jawn);
  font-size: 5vw;
  text-align: right;
  margin-left: 10px;
  margin-top: 15%;
}

.hero-level-light{
  color: var(--light-jawn);
  font-size: 5vw;
  text-align: right;
  margin-left: 10px;
  margin-top: 17%;
}

.experience-bar {
  background-color: var(--mid-light-jawn);
  border-radius: 20px;
  margin: 5px;
  width: 90%;
  height: 100%;
  border: 0;
}

.experience-bar::-webkit-progress-value {
  background-color: var(--orange-jawn); 
  border-radius: 20px;
}

.experience-bar::-webkit-progress-bar {
  background-color: var(--mid-dark-jawn); 
  border-radius: 20px;
}

.experience-bar::-moz-progress-bar {
  background-color: var(--orange-jawn); 
  border-radius: 20px;
}

.experience-bar-container {
  position: relative;
  height: 20px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 5px;
}

.experience-fraction {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-jawn);
  font-weight: bold;
  font-size: 5vw;
}

.table-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.stats-table {
  width: 80%;
  border-collapse: collapse;
  height: 100%;
}

.stats-table-data {
  border: transparent;
  padding: 10px;
  text-align: center;
  height: 100%;
  color: var(--light-jawn);
  font-size: 5vw;
}