#ok-btn {
    background-color: transparent;
    border-color: gray;
    color: hsl(123, 68%, 54%);
    border-radius: 0;
    width:110px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #delete-btn{
    background-color: transparent;
    border-color: gray;
    color: red;
    border-radius: 0;
    width:110px;
    margin-top: 20px;
    margin-bottom: 20px;
  }