.post-battle-text {
    padding-top: 15px;
    color: hsl(32, 84%, 43%);
}
.select-text{
    padding-top: 15px;
    color: hsl(334, 100%, 58%)
}

.label-jawn{
    padding-top: 15px;
    color: white;
}