.post-battle-text {
    padding-top: 5px;
    color: var(--orange-jawn);
}
.select-text{
    padding-top: 5px;
    color: var(--orange-jawn);
    font-size: 20px;
    text-align: center;
}

.label-jawn{
    font-size: 20px;
    padding-bottom: 5px;
    color: var(--light-jawn);
}

.title-jawn{
    margin-top: 5px;
}
.loot-jawn{
    align-items: center;
    text-align: center;
}