.post-battle-text {
    padding-top: 15px;
    color: hsl(32, 84%, 43%);
}
.select-text{
    padding-top: 15px;
    color: hsl(334, 100%, 58%);
    font-size: 25px;
    text-align: center;
}

.label-jawn{
    font-size: 25px;
    padding-bottom: 15px;
    color: white;
}

.title-jawn{
    margin-top: 5px;
}
.loot-jawn{
    align-items: center;
}