*, *::before, *::after {
  box-sizing: border-box;
  font-family: fantasy;
  color: hsl(181, 84%, 44%);
}


body {
  background-image: "url('../../resources/images/BattleJawnBackground.png')";
  background-repeat: no-repeat;
  background-size: cover;
  /* Centering Content */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* Background Color */
  background-color: #333;
}

.app-title {
    font-size: 1.5em;
}

.app-header {
    background-color: #222;
    padding: 20px;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0; /* optional, adjust as needed */
    z-index: 1000; /* optional, adjust as needed */
    color: white;
    text-align: center;
}


