*, *::before, *::after {
  box-sizing: border-box;
  font-family: fantasy;
  color: hsl(181, 84%, 44%);
  /* color: #1d1160; */
  /* color: #00788c; */
}


.background-jawn {
  background-image: url('../../resources/images/BattleJawnBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.bg-body-tertiary {
  opacity: 80%;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar {
  background-color: #00788c;
}

.tab-register {
  color: hsl(181, 84%, 44%);
}

.tab-login {
  color: hsl(181, 84%, 44%);
}

.title-jawn {
  text-align: center;
  padding-top: 20px;
}

.basic-text {
  text-align: center;
}

.reg-btn:hover {
  border-color: black;
}

.reg-btn:active {
  box-shadow: 0 5px rgb(43, 43, 36);
  transform: translateY(2px);
}

#submit-btn {
  text-align: center;
  margin-top: 10px;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  font-size: 20px;
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link.custom-button {
  background-color: transparent;
  border-color: transparent;
  color: hsl(181, 84%, 44%);
}

.nav-link.custom-button.active {
  background-color: hsl(181, 84%, 44%);
  color: black;
}