<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/battle-screen.css" rel="stylesheet">
    <title>Battle Jawn</title>
</head>
<body>
    <div class="container">
        <div class='userDisplayEnemy' id="text">Text</div>
        <div class="jawn">
            <progress class='healthBar' id="enemyHealthBar" value="100" max="100"></progress>
        </div>
        <div class='userDisplayPlayer' id="text2">Text</div>
        <img class="potions" id="potion1" src='../img/healthPotion.png'>
        <img class="potions" id="potion2" src='../img/healthPotion.png'>
        <img class="potions" id="potion3" src='../img/healthPotion.png'>
        <div class="jawn">
            <progress class='healthBar' id="playerHealthBar" value="100" max="100"></progress>
        </div>
        <!-- <div class="jawn">
            <progress class='manaBar' id="playerManaBar" value="100" max="100"></progress>
        </div> -->

        <br><div class='logBoxDisplayElement' id="logBoxDisplayElement">Text</div></br>
        
        <br><div class='text3' id="text3">Text</div></br>

        <div id="option-buttons" class="btn-grid">
        <button class="btn" id="button1">Button 1</button>
        <button class="btn" id="button2">Button 2</button>
        <button class="btn" id="button3">Button 3</button>
        <button class="btn" id="button4">Button 4</button>
        </div>
    </div>
    <script type='module' src='runGame.js'></script>
</body>
</html>